# ==============================================================================
# Docker Compose Project Configuration
# ==============================================================================
COMPOSE_PROJECT_NAME=csof_rs

# ==============================================================================
# Environment & Container Policy
# ==============================================================================
APP_ENVIRONMENT=development
DOCKER_RESTART_POLICY=unless-stopped

# ==============================================================================
# Database (MongoDB)
# ==============================================================================
DATABASE__USER=app_admin
DATABASE__PASSWORD=change_me_in_production_highly_secure
DATABASE__NAME=zero_day_db

# ==============================================================================
# Cache & Session Store (Redis)
# ==============================================================================
REDIS__PASSWORD=change_me_in_production_highly_secure