# ==============================================================================
# Środowisko i polityka kontenerów
# ==============================================================================
APP_ENVIRONMENT=development
DOCKER_RESTART_POLICY=unless-stopped

# ==============================================================================
# Baza Danych (MongoDB)
# ==============================================================================
DATABASE__USER=app_admin
DATABASE__PASSWORD=change_me_in_production_highly_secure
DATABASE__NAME=zero_day_db

# ==============================================================================
# Pamięć podręczna i sesje (Redis)
# ==============================================================================
REDIS__PASSWORD=change_me_in_production_highly_secure